:root{
    --bg-color: black;
--second-bg-color: black;
--text-color:white;
--main-color:rgb(0, 166, 255);

}
html {
  scroll-behavior: smooth;
}
.socail a{
    font-size: 2.1rem;
    display: inline-flex;
    width: 3.6rem;
    height: 3.4rem;
margin: 10px ;
    align-items: center;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 40%;
    color: var(--main-color);
    transition: .5s ease;
}



.socail a:hover{
    transition: 1s;
color: var(--second-bg-color);
box-shadow: 0 0 1rem var(--main-color);
background-color: var(--main-color);
}